{% load staticfiles %}
<!-- Footer -->
<footer class="py-3 bg-dark" id="footer">
    <div class="row col justify-content-center">
{#        <h3 class="mr-3">#}
{#            <a href="mailto:dusaiphoto@foxmail.com" class="hvr-icon-grow no-underline">#}
{#                <i class="fas fa-envelope hvr-icon" style="color: lightskyblue;" id="layer_email"></i>#}
{#            </a>#}
{#        </h3>#}
        <h3 class="mr-3">
            <a href="/category/Cooperation//" class="hvr-icon-grow no-underline">
                <i class="fab fa-qq hvr-icon" style="color: #ff0045;" id="layer_qq"></i>
            </a>
        </h3>
        <h3 class="mr-3">
            <a href="https://github.com/wss1996" style="color: #f0c674;" target="_blank" class="hvr-icon-grow no-underline">
                <i class="fab fa-github hvr-icon" id="layer_github"></i>
            </a>
        </h3>
        <h3 class="mr-3">
            <a href="//weibo.com/" style="color: indianred;" target="_blank" class="hvr-icon-grow no-underline">
                <i class="fab fa-weibo hvr-icon" id="layer_weibo"></i>
            </a>
        </h3>
        <h3>
            <a href="/category/Cooperation//" style="color: yellowgreen;" class="hvr-icon-grow no-underline">
                <i class="fab fa-weixin hvr-icon" id="footer_wechart"></i>
            </a>
    </div>

    <div class="row col-12 justify-content-center">
       <h5 class="m-0 text-center text-white">
            <a href="/" title="静觅">王双双</a> 版权所有丨采用
            <a href="http://yusi123.com/"> 欲思 </a>主题
{#            <a href="/sitemap.xml" title="Sitemap" target="_blank">网站地图</a>#}
        </h5>
    </div>

    <div class="row col-12 justify-content-center">
       <h5 class="m-0 text-center text-white">
            <a href="https://www.djangoproject.com/" title="Django" target="_blank">基于Django构建</a>© 2019丨托管于
            <a rel="nofollow" target="_blank" href="https://www.aliyun.com/" title="阿里云主机" target="_blank">阿里云主机</a> &
            <a rel="nofollow" target="_blank" href="https://www.qiniu.com/">七牛云存储 </a>
{#            <a href="/sitemap.xml" title="Sitemap" target="_blank">网站地图</a>#}
        </h5>
    </div>

</footer>



{##}
{#<footer class="footer">#}
{#    <div class="footer-inner">#}
{#        <div class="copyright pull-left">#}
{#            <a href="/" title="静觅">王双双</a> 版权所有丨采用#}
{#            <a href="http://yusi123.com/"> 欲思 </a>主题丨#}
{#            <a href="https://www.djangoproject.com/" title="Django" target="_blank">基于Django构建</a>© 2019丨托管于#}
{#            <a rel="nofollow" target="_blank" href="https://www.aliyun.com/" title="阿里云主机" target="_blank">阿里云主机</a> &#}
{#            <a rel="nofollow" target="_blank" href="https://www.qiniu.com/">七牛云存储 </a>丨#}
{#            <a href="/sitemap.xml" title="Sitemap" target="_blank">网站地图</a>#}
{#        </div>#}
{#    </div>#}
{#</footer>#}