{% extends 'base.html' %}
{% load blog_tags %}
{% block title %}Hello丨赞助作者{% endblock title %}

{% block description %}
    <meta name="description" content="{% get_title category as bigcategory %}{{ bigcategory.description }}"/>
    {% endblock description %}
    {% block keywords %}
    <meta name="keywords" content="{% get_title category as bigcategory %}{{ bigcategory.keywords }}"/>
    {% endblock keywords %}

{% block body %}
{% load static %}
<div class="pagewrapper clearfix">

        <div class="article-content">
            <div style="text-indent:0px;">
                <p style="text-align: center;">
                    <h2 style="line-height: 30px;text-align: center;">如果您喜欢我的文章，感觉我的文章对您有帮助，不妨动动您的金手指给予小额赞助，予人玫瑰，手有余香，不胜感激。</h2>
                </p>
                <h2 style="text-align: center;">赞助方式一</h2>
                <h3 style="text-align: center;">手机支付宝扫一扫</h3>
                <p style="text-align: center;">
                    <a href="">
                        <img class="alignnone size-full wp-image-1100" src="{% static 'images/支付宝.jpg' %}"  width="270px" height="270px" style='width: 270px;'/>
                    </a>
                </p>

                <h2 style="text-align: center;">赞助方式二</h2>
                <h3 style="text-align: center;">手机微信扫一扫</h3>
                <p style="text-align: center;">
                    <a href="">
                        <img class="alignnone size-full wp-image-1100" src="{% static 'images/微信收款.png' %}"  width="270px" height="270px" style='width: 270px;'/>
                    </a>
                </p>


{#            </div>#}
{#            <style type="text/css">#}
{#                *{margin:0;padding:0;list-style:none;}#}
{#                body{background:#eee;font-family:"Microsoft Yahei"}#}
{#                a{text-decoration:none;}#}
{#                img{border:none;width:100%;}#}
{#                /* accordion */#}
{#                .accordion{width:100%;height:320px;overflow:hidden;margin:0px auto;max-width:900px;}#}
{#                .accordion ul{max-width:100%;margin:0px;}#}
{#                .accordion li{#}
{#                    display:block;width:20%;height:130px;overflow:hidden;position:relative;float:left;#}
{#                    background:rgba(255,255,255,0.1);#}
{#                    -webkit-transition:all .5s;#}
{#                    -moz-transition:all .5s;#}
{#                    -ms-transition:all .5s;#}
{#                    -o-transition:all .5s;#}
{#                    transition:all .5s;#}
{#                }#}
{#                .accordion li img{display:block;}#}
{#                .accordion ul:hover li{width:18%;}#}
{#                .accordion ul li:hover{width:28%;}#}
{#                .accordion .title{position:absolute;left:0;bottom:0;width:100%;background:rgba(0,0,0,0.5);}#}
{#                .accordion .title a{display:block;color:#fff;font-size:16px;padding:10px;}#}
{#                @media (max-width:430px){#}
{#                    .accordion{height:250px;}#}
{#                    .accordion li{height:150px;}#}
{#                    .describe{top:60px;}#}
{#                    .describe img{height:90px;}#}
{#                }#}
{#                @media (max-width: 570px) and (min-width:431px){#}
{#                    .accordion{height:320px;}#}
{#                    .accordion li{height:180px;}#}
{#                    .describe{top:70px;}#}
{#                    .describe img{height:110px;}#}
{#                }#}
{#                @media (max-width: 740px) and (min-width:571px){#}
{#                    .accordion{height:320px;}#}
{#                    .accordion li{height:243px;}#}
{#                    .describe{top:112px;}#}
{#                    .describe img{height:130px;}#}
{#                }#}
{#                @media (max-width: 900px) and (min-width:741px){#}
{#                    .accordion{height:320px;}#}
{#                    .accordion li{height:250px;}#}
{#                    .describe{top:90px;}#}
{#                    .describe img{height:160px;}#}
{#                }#}
{#                @media (min-width:901px){#}
{#                    .accordion{height:320px;}#}
{#                    .accordion li{height:250px;}#}
{#                    .describe{top:90px;}#}
{#                    .describe img{height:160px;}#}
{#                }#}
{#                .describe{#}
{#                    position:absolute;#}
{#                    text-align:center;#}
{#                    width:100%;#}
{#                    max-width:900px;#}
{#                    z-index:-1;#}
{#                }#}
{#                .bg{#}
{#                    width:100%;#}
{#                    max-width:900px;#}
{#                    min-height:130px;#}
{#                    background-color:#03cab1;#}
{#                    position:absolute;#}
{#                    top:0px;#}
{#                    z-index:-2;#}
{#                }#}
{#                .weixin{#}
{#                    position:relative;#}
{#                    max-width:900px;#}
{#                    margin:0 auto;#}
{#                }#}
{#                .article-content li:before{#}
{#                content:none;#}
{#                }#}
{#                .weixin .title{#}
{#                margin:0#}
{#                }#}
{#            </style>#}


            </div>
        </div>
</div>

</section>
{%endblock body%}